.multiline-ellipsis-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}

.multiline-ellipsis-body {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}

/* Set the width and color of the scroll bar */
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

/* Style the thumb (the part of the scroll bar that you drag) */
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 5px;
}

/* Style the track (the part of the scroll bar that the thumb moves along) */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
